div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Credit
    h1 'Allo, 'Allo!
    p.lead Hello!
    img(src='assets/images/yeoman.png', alt='I\'m Yeoman')
 
.container
  .row
    .col-lg-12
      h1 'Allo, 'Allo!

footer.footer
  .container
    p
      | about_hiroppy