div(ng-include='"components/navbar/navbar.html"')

//- header#banner.hero-unit
//-   .container
//-     h1 'Allo, 'Allo!
//-     p.lead Kick-start your next web app with Angular Fullstack
//-     img(src='assets/images/yeoman.png', alt='I\'m Yeoman')
 
.container
  form.thing-form
    label Syncs in realtime across clients
    p.input-group
      input.form-control(type='text', placeholder='new word', ng-model='newThing')
      input.form-control(type='text', placeholder='broad strokes', ng-model='roughly')
      span.input-group-btn
        button.btn.btn-primary(type='submit', ng-click='addThing()') Add New

  .row
    .col-lg-12
      h1.page-header words List:
      //- ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='thing in awesomeThings')
      ul.nav.nav-tabs.nav-stacked.col-md-12.col-lg-12.col-sm-12(ng-repeat='thing in awesomeThings')
        li
          a(href="#")
            h4(tooltip='{{thing.info}}')
              | {{thing.word}}
              button.close(type='button', ng-click='deleteThing(thing)') ×
            p 
              | {{thing.roughly}}

footer.footer
  .container
    p
      | about_hiroppy