div(ng-include='"components/navbar/navbar.html"')

.container
  .row
    h2 Github Repository
    img(src='assets/images/yeoman.png')
    p.lead     
      a(href="https://github.com/abouthiroppy/myVocabs") myVocabs
footer.footer
  .container
    p
      | myVocabs