div(ng-include='"components/navbar/navbar.html"')

 
.container
  .row
    .col-sm-12
      h1.word-title {{wordData.word}}
      button.btn.btn-primary(ng-click='editWord()' ng-show='isLoggedIn()') Change
    .col-sm-12.priority-color-border
    .col-sm-12
      h4 {{wordData.roughly}}
      span.badge.badge-info(ng-if="wordData.tag[0] !== ''") {{wordData.tag[0]}}
      span  Created on {{wordData.date}} 
    .col-sm-12(ng-controller='WordpageCtrl as marked')
      .col-sm-12#description-content(ng-bind-html='marked.outputText')

footer.footer
  .container
    p
      | page-list
