div(ng-include='"components/navbar/navbar.html"')

.container
  .row
    .search-container
      .col-lg-5.col-md-12.col-sm-12.keyword-search
        .form-search.search-only
          i.search-icon.glyphicon.glyphicon-search
          input.form-control.search-query(type='text' ng-model='filter.word')
        .progress
          .progress-bar.progress-bar-success(role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100")
        .progress
          .progress-bar.progress-bar-warning(role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100")
        .progress
          .progress-bar.progress-bar-danger(role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100")
      .col-lg-7.col-md-12.col-sm-12.condition-set
        .btn-group.col-lg-8.col-md-8.col-sm-8.col-xs-12
          .col-lg-5.col-md-5.col-sm-5.col-xs-5
            .radio
              input#sort-new(type='radio' name='iCheck' checked)
              label(for='sort-new') New
            .radio
              input#sort-old(type='radio' name='iCheck')
              label(for='sort-old') Old
          .col-lg-7.col-md-7.col-sm-7.col-xs-7
            .radio
              input#sort-ascending(type='radio' name='iCheck' )
              label(for='sort-ascending') Ascending
            .radio
              input#sort-descending(type='radio' name='iCheck')
              label(for='sort-descending') Descending

        .col-lg-4.col-md-4.col-sm-4.col-xs-12
          .btn-group
            button.btn.btn-primary.priority-group.priority-select#priority-none(type='button', ng-click="findPriority('priority-none-color')")
              i.glyphicon.glyphicon-home
            button.btn.btn-primary.priority-group#priority-low(type='button', ng-click="findPriority('priority-low-color')")
              i.glyphicon.glyphicon-align-left
            button.btn.btn-primary.priority-group#priority-middle(type='button', ng-click="findPriority('priority-middle-color')")
              i.glyphicon.glyphicon-align-center
            button.btn.btn-primary.priority-group#priority-high(type='button', ng-click="findPriority('priority-high-color')")
              i.glyphicon.glyphicon-align-right
          #wordlist-selecter.selecter.closed.cover(tabindex="0")
            select.selecter-element#tag-selecter(name="selecter_basic selecter-element" data-selector-option='{"cover":"true"}' tabindex="-1" ng-model='selectTag' ng-options='t.value as t.name for t in tagData')
              option(value='') --------------

    .col-lg-12.list-container
      table.table(ng-table='tableParams')
        tr(ng-repeat='wordLine in $data')
          td(class='{{wordLine.priority}}')
            a(href= "{{'/' + wordLine._id}}")
              h4(filter="{'word': 'text'}") {{wordLine.word}}
                button.close(type='button', ng-click='deleteWord(wordLine)') ×
              p {{wordLine.roughly}}
              p.priority-label(filter="{'priority': 'text'}") {{wordLine.priority}}
              span.badge.badge-primary(ng-if="wordLine.description !== ''") Description
              span.badge.badge-info(ng-if="wordLine.tag[0] !== ''") {{wordLine.tag[0]}}

footer.footer
  .container
    p
      | word-list