div(ng-include='"components/navbar/navbar.html"')

 
h1 {{sorting.date}}
.container
  .row
    .search-container
      .col-lg-5.col-md-12.col-sm-12.keyword-search
        .form-search.search-only
          i.search-icon.glyphicon.glyphicon-search
          input.form-control.search-query(type='text' ng-model='filter.word')
      .col-lg-7.col-md-12.col-sm-12.condition-set
        .btn-group.col-lg-8.col-md-8.col-sm-8.col-xs-12
          .col-lg-5.col-md-5.col-sm-5.col-xs-5
            .radio
              input#sort-new(type='radio' name='iCheck' checked)
              label(for='sort-new') New
            .radio
              input#sort-old(type='radio' name='iCheck')
              label(for='sort-old') Old
          .col-lg-7.col-md-7.col-sm-7.col-xs-7
            .radio
              input#sort-ascending(type='radio' name='iCheck' )
              label(for='sort-ascending') Ascending
            .radio
              input#sort-descending(type='radio' name='iCheck')
              label(for='sort-descending') Descending

        .col-lg-4.col-md-4.col-sm-4.col-xs-12
          .btn-group
            button.btn.btn-primary.priority-group.priority-select#priority-none(type='button', ng-click="findPriority('priority-none-color')")
              i.glyphicon.glyphicon-align-left
            button.btn.btn-primary.priority-group#priority-low(type='button', ng-click="findPriority('priority-low-color')")
              i.glyphicon.glyphicon-align-left
            button.btn.btn-primary.priority-group#priority-middle(type='button', ng-click="findPriority('priority-middle-color')")
              i.glyphicon.glyphicon-align-center
            button.btn.btn-primary.priority-group#priority-high(type='button', ng-click="findPriority('priority-high-color')")
              i.glyphicon.glyphicon-align-right

    .col-lg-12.list-container
      table.table.col-md-12.col-lg-12.col-sm-12(ng-table='tableParams')
        tr(ng-repeat='wordLine in $data')
          //- td(data-title="'Name'")
          td(class="{{wordLine.priority}}")
            a(href="#")
              h4(filter="{'word': 'text'}") {{wordLine.word}}
                button.close(type='button', ng-click='deleteThing(wordLine)') ×
              p {{wordLine.roughly}}
              p.priority-label(filter="{'priority': 'text'}") {{wordLine.priority}}
              span.badge.badge-info(ng-if="wordLine.description !== ''") description
      //- ul.nav.nav-tabs.nav-stacked.col-md-12.col-lg-12.col-sm-12(ng-repeat='thing in wordData')
      //-   li
      //-     a(href="#")
      //-       h4(tooltip='{{thing.info}}')
      //-         | {{thing.word}}
      //-         button.close(type='button', ng-click='deleteThing(thing)') ×
      //-       p 
      //-         | {{thing.roughly}}

footer.footer
  .container
    p
      | word-list