div(ng-include='"components/navbar/navbar.html"')

.container
  .col-sm-12
    .col-sm-6
      form.word-form
        input-group
          button.btn.btn-primary(type='submit', ng-click='addWord()' ng-show='isLoggedIn()') Add New
          input.form-control(type='text', placeholder='new word', ng-model='newWord')
          input.form-control(type='text', placeholder='broad strokes', ng-model='roughly')
    .col-sm-6
      .btn-group
        button.btn.btn-primary.priority-group.priority-select#priority-low(type='button', ng-click='changePriority("priority-low-color")')
          i.glyphicon.glyphicon-align-left
        button.btn.btn-primary.priority-group#priority-middle(type='button', ng-click='changePriority("priority-middle-color")')
          i.glyphicon.glyphicon-align-center
        button.btn.btn-primary.priority-group#priority-high(type='button', ng-click='changePriority("priority-high-color")')
          i.glyphicon.glyphicon-align-right
      .selecter.closed.cover(tabindex="0").tag-form
        select.selecter-element#tag-selecter(name="selecter_basic selecter-element" data-selector-option='{"cover":"true"}' tabindex="-1" ng-model='selectTag' ng-options='t.value as t.name for t in tagData')
          option(value='') --------------
      .input-group.tag-form
        span.input-group-addon +
        input.form-control(ng-model='newTag')
        span.input-group-btn
          button.btn.btn-primary(type='submit', ng-click='addTags()') Add

    span.input-group-btn
    .col-sm-12(ng-controller='AddwordCtrl as marked')
      .row
        .col-sm-6
          textarea.form-control.textarea-form#inputText(ng-model='marked.inputText' placeholder='description', auto-grow)
        .col-sm-6
          #outputText(ng-bind-html='marked.outputText')



footer.footer
  .container
    p
      | add-word