.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.textarea-form {
    height: 350px !important;
}

.priority-select {
    background: #f6bb42 !important;
    border-color: #f6bb42 !important;
}

input {
    background-color: #b2d4dc !important;
}

.tag-form {
    width: 70%;
}

