div.selecter {
	margin: 0 0 10px 0;
}

// markdown

// input
#inputText {
    height: 350px;
}

// result
#outputText {
	height: 350px;
	overflow: auto;
}


// priority-select-box

.btn-group > button.priority-select {
    background: #f6bb42;
    border-color: #f6bb42;
}

.btn-group .btn-primary:first-child {
	border-left-color: transparent !important;
}

.btn-group .btn-primary:last-child {
	border-right-color: transparent !important;
}



input {
    background-color: #b2d4dc !important;
}

.tag-form {
    width: 70%;
}

